<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        作品一覧
      </h1>
    </div>
  </div>
</section>
  <!--検索機能-->
<h3>作品を検索</h3>
<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div class="post-list">
  <% @arts.each do |art| %>
  <% end %>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @arts.each do |art| %>
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <%= link_to art_path(art) do %>
                  <%= attachment_image_tag art, :image %>
                <% end %>
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <%= attachment_image_tag art.user, :profile_image, fallback: "no-image.jpg", class: "profile_image" %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title"><%=link_to art.user.username, user_path(art.user) %></div>
                </div>
              </div>
                <p class="caption"><%= "♡　#{art.favorites.count}" %></p>
                <p class="caption"><%= "#{art.comments.count} コメント" %></p>
              <div class="content">
                <time><%= art.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
     <div class='p-top__paginate'><%= paginate (@arts) %></div>
    </div>
  </div>
</section>