<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        作品詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= attachment_image_tag @art, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4"><%= @art.title %></p>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                  <th>詳細</th>
                </tr>
                <tr>
                  <td><%= simple_format @art.body %></td>
                </tr>
              </table>
              <% if @art.user.id == current_user.id %>
                <%= link_to "編集画面へ", edit_art_path(@art), class: "button is-success" %>
              <% end %>
              <% if current_user.already_favorited?(Art) %>
                <%= link_to art_favorites_path(art), method: :delete do %>
                <i class="fas fa-heart"></i>
             <% end %>
                <%= art.favorites.count %>
              <% else %>
                <%= link_to art_favorites_path(@art), method: :post do %>
              <i class="far fa-heart"></i>
                <% end %>
               <%= @art.favorites.count %>
                <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <article class="panel is-link">
          <p class="panel-heading">
            By <%= @art.user.username %>
          </p>
          <div class="panel-block">
            <p class="control">
              <%= @art.user.profile %>
            </p>
          </div>
          <%= link_to user_path(@art.user), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <%= @art.user.username %> さんのページへ
          <% end %>
        </article>
      </div>
    </div>
  </div>
</section>